.df {
  display: flex;
}

.dn-phone {
  @include phone {
    display: none;
  }
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.flex-1 {
  flex-grow: 1;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-relative-phone {
  @include phone {
    position: relative;
  }
}

.position-y-center {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.w-100 {
  width: 100%;
}

.vh-100 {
  height: 100vh;
}

.fz-sm {
  font-size: 14px;
}

.fz-sm-phone {
  @include phone {
    font-size: 14px;
  }
}

.fz-l {
  font-size: 24px;
}

.fw-b {
  font-weight: bold;
}

.text-decoration-none {
  text-decoration: none;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.cursor-pointer {
  cursor: pointer;
}

.pt-3 {
  padding-top: $base-number;
}

.pl-3 {
  padding-left: $base-number;
}

.pr-3 {
  padding-right: $base-number;
}

.pr-9 {
  padding-right: $base-number * 3;
}

.px-4 {
  padding-left: $base-number * 2;
  padding-right: $base-number * 2;
}

.py-3 {
  padding-top: $base-number;
  padding-bottom: $base-number;
}

.pr-3-phone {
  @include phone {
    padding-right: $base-number;
  }
}

.mb-3 {
  margin-bottom: $base-number;
}

.mb-4 {
  margin-bottom: $base-number * 1.25;
}

.mb-5 {
  margin-bottom: $base-number * 1.5;
}

.mb-7 {
  margin-bottom: $base-number * 2;
}

.mb-8 {
  margin-bottom: $base-number * 2.5;
}

.ml-a {
  margin-left: auto;
}

.mr-3 {
  margin-right: $base-number;
}

.mr-5 {
  margin-right: $base-number * 1.5;
}

.over-flow-hidden {
  overflow: hidden;
}

.border-none {
  border: none;
}

.background-white {
  background-color: #fff;
}

.hide {
  display: none;
}
